@import "../Mixin/fontmixin";
@import "../Mixin/skill";
@import "../variable/color";
@import "../Mixin/button";

.schedule{
    background-image: url("../img/schedule-bg.jpg");
    height: 300px;
    background-size: cover;

    .head{
        padding-top: 100px;
        p{
            color: white;
        }
        h2{
            color: white;
        }
    }
}